.main-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse-1 2s linear infinite;
  background: transparent;
  border: 1px solid #7e0606;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main-image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse-1 2s linear infinite;
  background: transparent;
  border: 1px solid #7e0606;
  z-index: 1;
  animation-delay: 0.5s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


@keyframes pulse-1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  25% {
    transform: scale(.5);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(1.2);
    opacity: .5;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}


@keyframes popup {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


.choice-item:hover .choice-item-image {
  transform: scale(1.2);
}

.navigation ul li:hover {
  border-bottom: 1px solid rgb(119, 11, 29);
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.advantages-item:hover .advantages-item-image{
  background: #eba8b1;
}

.advantages-item:hover .advantages-item-number{
  color: rgb(130, 19, 40);
}

.present-block:hover .present-block{
  box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present:hover .popup {
  /*display: block;*/
  position: absolute;
  right: 90px;
  bottom: 0px;
}

.popup {
  border-radius: 10px;
  border: 2px solid rgb(119, 10, 29);
  background-color: rgb(254, 239, 238);
  width: 172px;
  height: 64px;
  padding: 0 15px;
  text-align: center;
  /*display: none;*/
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  margin-right: 10px;
  transition: .6s;
  position: absolute;
  bottom: -140px;
  right: 90px;

}

.present-block:hover::after .popup  {
  content: '';
  animation: popup 2s linear ;

  right: 90px;
  bottom: 10px;
}

.present:hover .popup{
  transform: translateY(-15px);
}

.triangle {
  position: relative;
  rotate: 45deg;
  border: none;
  box-sizing: border-box;
  border-right: 2px solid rgb(119, 10, 29);
  border-top: 2px solid rgb(119, 10, 29);
  background: rgb(254, 239, 238);
  width: 13px;
  height: 13px;
  right: -148px;
  bottom: -20px;
}



