* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy-Extrabold;
  src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Tavolga Free;
  src: url("../fonts/Tavolga Free.ttf");
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("../fonts/Gilroy-Medium.ttf");
}

body {
  font-family: "Tavolga Free", sans-serif;
}

.header {
  background: #eba8b1;
  padding: 38px 0 25px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li {
  margin-right: 38px;
  font-size: 14px;
  font-family: Gilroy-Medium, sans-serif;
  color: rgb(119, 11, 29);
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding-bottom: 3px;
}

.navigation ul li:hover {
  border-bottom: 1px solid rgb(119, 11, 29);
}

.contacts {
  font-size: 16px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
}

.main {
  background: #eba8b1;
  padding: 126px 0 108px 0;
}

.main .container {
  display: flex;
  justify-content: space-between;
}

.main-info {
}

.main-info .title {
  font-size: 55px;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  font-weight: normal;
}

.main-info-description {
  max-width: 349px;
  line-height: 1.389;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin: 60px 0 80px 0;
}

.btn {
  background-image: -moz-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
  border-radius: 30px;
  border: none;
  padding: 22px;
  cursor: pointer;
}

.btn.main-btn {
  width: 240px;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  color: rgb(255, 255, 255);
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

